<div id="quiz-info-container" class="quiz-info-container">
    <div class="quiz-info-content">
        <div class="content-info">
            <div class="content-title">
                <p class="text-glow">Revolutionize Your Lifestyle</p>
                <p class="text-glow subtitle">Discover Your Ideal Robot Companion Today</p>
            </div>
            <div class="content-button">
                <span routerLink="home" id="content-btn" data-back="Start Quiz" data-front="Discover Now"></span>
            </div>
        </div>
    </div>
    <app-home-reviews></app-home-reviews>
</div>