.quiz-info-container {
    font-family: Orbitron;
    width: 100%;
    position: relative;
    top: 125px;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-info-content {
    width: 100%;
    position: absolute;
}

.content-info {
    gap: 15px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    flex: 1;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-button {
    position: relative;
    flex: 1;
    padding: 15px;
    border: 2px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 35px;
    border-radius: 5px;

    #content-btn {
        text-align: center;
        $speed: 0.5s;
        text-decoration: none;
        color: black;
        opacity: 1;
        position: relative;
        display: inline-block;

        &:hover {
            &:after {
                opacity: 1;
                transform: translateY(0) rotateX(0);
            }

            &:before {
                opacity: 0;
                transform: translateY(50%) rotateX(90deg);
            }
        }

        &:after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: $speed;
            position: absolute;
            content: attr(data-back);
            transform: translateY(-50%) rotateX(90deg);
        }

        &:before {
            opacity: 1;
            display: block;
            transition: $speed;
            position: relative;
            content: attr(data-front);
            transform: translateY(0) rotateX(0);
        }
    }
}

.quiz-border-box-left,
.quiz-border-box-right {
    position: absolute;
    width: 50%;
    height: 100%;
    display: inline-block;
    border-top: 5px solid black;
    border-right: 5px solid black;
    background:
        linear-gradient(-135deg, rgb(0, 0, 0) 0 calc(30px + 5px), transparent 0) top right / 50% 50%,
        rgba(255, 0, 0, 0);
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 0px, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0px, #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 0px, #fff 0) top left,
        linear-gradient(-135deg, transparent 0 20px, #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
    clip-path: polygon(14% 1%, 155% -1%, 80% 90%, 0% 100%);
    filter: drop-shadow(2px 0px 5px #000);
}

.quiz-border-box-right {
    left: 50%;
    transform: scaleY(-1);
}

.quiz-border-box-left {
    transform: scaleX(-1);

}