<div id="quiz-info-container" class="quiz-info-container">
    <div class="quiz-info-content">
        <div class="content-info">
            <div class="content-title">
                <span class="text-glow">Revolutionize Your Lifestyle</span>
                <span class="text-glow">Discover Your Ideal Robot Companion Today</span>
            </div>
            <div class="content-button">
                <a routerLink="/quiz" id="content-btn" data-back="Start Quiz" data-front="Discover Now"></a>
            </div>
        </div>
    </div>
    <app-home-reviews></app-home-reviews>
</div>