<div id="" class="home-company-info-container">
    <div class="home-company-info-content">
        <div class="company-info-text-container">
            <div class="text-content">
                <span id="company-info-question">Why Choose Dr. Mery's Companions?</span>
                <span id="company-info-text">
                    Dr. Mercy's Companions is renowned for its unwavering commitment to
                    excellence.
                    Our robots are meticulously designed and constructed with the highest quality materials, ensuring
                    durability and longevity. Backed by state-of-the-art software and cutting-edge features, these
                    companions
                    offer a seamless and intuitive user experience. Dr. Mercy's Companions is at the forefront of
                    innovation,
                    pushing the boundaries of what robotic companions can achieve. With our exceptional craftsmanship
                    and
                    advanced technology, we continue to redefine the future of companionship.
                </span>
            </div>
        </div>
        <div class="company-info-img">
            <img src="data:image/png;base64,{{companionImg}}" alt="Company Info">
        </div>
    </div>
</div>