<button [matMenuTriggerFor]="cartList">I Am Cart
    <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"></mat-icon>
</button>
<mat-menu #cartList="matMenu">
    <div>
        <mat-card>
            <div *ngFor="let item of cart.items">
                <h5>{{item.name}}</h5>
                <img src={{item.image}} />
                <p>{{item.price | currency}}</p>
                <p class="float-right">Total: {{getTotal() | currency}}</p>
                <p (click)="onRemoveItem(item)">Delete Product</p>
            </div>
        </mat-card>
        <a routerLink="/cart">View Cart</a>
    </div>
</mat-menu>