<span class="cart-display-btn" [matMenuTriggerFor]="cartList">
    <i class="fa-solid fa-briefcase"></i>
    <mat-icon id="cart-display-badge" [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"
        matBadgeColor="accent"></mat-icon>
</span>
<mat-menu #cartList="matMenu">
    <div class="cart-display" *ngIf="cart.items.length > 0; else emptyCart">
        <div class="cart-display-item" *ngFor="let item of cart.items">
            <img class='item-img' src={{item.image}} />
            <span class="item-name">{{item.name}}</span>
            <div class="item-quantity">
                <span class="item-price">{{item.price | currency}} x{{item.quantity}}</span>
                <span class="item-delete-btn" (click)="onRemoveItem(item)"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="cart-display-footer">
            <span class="cart-display-total"><span id='total'>Total: </span> {{getTotal() | currency}}</span>
            <span class="view-cart-btn" routerLink="/cart">View Cart</span>
        </div>
    </div>
    <ng-template #emptyCart>
        <div class="empty-cart">
            <span>No Items in Cart</span>
        </div>
    </ng-template>
</mat-menu>