<div class="details-modal" (click)="closeModal()">
    <div class="modal-product" (click)="stopPropagation($event)">
        <div class="modal-product-img">
            <div class="img-container">
                <div class="main-img">
                    <img [src]="'https://placehold.co/200'" />
                </div>
            </div>
        </div>
        <div class="modal-product-details">
            <div class="modal-close">
                <span class="close-btn" (click)="closeModal()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
            </div>
            <div class="modal-header">
                <span class="modal-title">Name Here</span>
                <span class="modal-subtitle">Categorgy</span>
            </div>
            <div class="modal-product-price">
                <span>$99.99</span>
            </div>
            <div class="modal-description">
                <span class="modal-subtitle">Description</span>
                <span class="description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium harum laudantium
                    inventore
                    in aspernatur qui nemo, molestias asperiores, sunt eaque neque quidem doloribus cupiditate
                    corrupti
                    minus similique architecto nesciunt. Distinctio!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium harum laudantium
                    inventore
                    in aspernatur qui nemo, molestias asperiores, sunt eaque neque quidem doloribus cupiditate
                    corrupti
                    minus similique architecto nesciunt. Distinctio!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium harum laudantium
                    inventore
                    in aspernatur qui nemo, molestias asperiores, sunt eaque neque quidem doloribus cupiditate
                    corrupti
                    minus similique architecto nesciunt. Distinctio!
                </span>
            </div>
            <div class="modal-btns">
                <span class="modal-add-btn">Add To Cart</span>
            </div>
        </div>
    </div>
</div>