<div class="details-modal" (click)="closeModal()">
    <div class="modal-product" (click)="stopPropagation($event)">
        <div class="modal-product-img">
            <div class="img-container">
                <div class="main-img" [class]="itemDetails.category + '-border'">
                    <img src="data:image/png;base64,{{itemDetails.image}}" alt="product image" />
                </div>
            </div>
        </div>
        <div class="modal-product-details">
            <div class="modal-close">
                <span class="close-btn" (click)="closeModal()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
            </div>
            <div class="modal-header">
                <div class="modal-product-info">
                    <p class="modal-text">Model:</p>
                    <p class="modal-title">{{itemDetails.name}}</p>
                    <p class="modal-subtitle">
                        Catergory: <br />
                        <span [class]="itemDetails.category + '-text'">{{getCatergoryName(itemDetails.category)}}</span>
                    </p>
                </div>
                <div class="modal-product-price">
                    <p>{{itemDetails.price | currency}}</p>
                </div>
            </div>
            <div class="modal-description">
                <p class="modal-description-title">Description:</p>
                <p class="description">
                    {{itemDetails.description}}
                </p>
            </div>
            <div class="modal-btns" *ngIf='!isInCart'>
                <span class="modal-add-btn" (click)="onAddToCart()">Add To Cart</span>
            </div>
        </div>
    </div>
</div>