.home-footer-container {
    font-family: Orbitron;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: clamp(2rem, 5vw, 5rem);
    justify-content: center;
    padding-bottom: 3rem;
}

#footer-title {
    display: flex;
    flex-direction: column;
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: clamp(2rem, 3vw, 3rem);
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.9),
        0 0 30px rgba(202, 228, 225, 0.3),
        0 0 12px rgba(30, 132, 242, 0.4),
        0 0 21px rgba(30, 132, 242, 0.8),
        0 0 34px rgba(30, 132, 242, 0.7),
        0 0 54px rgba(30, 132, 242, 0.9);
}

.footer-links-row {
    display: flex;
    flex-direction: row;
    gap: clamp(1.5rem, 3vw, 3rem);
    font-size: 1rem;
}

ul.col-list {
    list-style: none;

    li {
        margin-bottom: 5px;
    }
}

.col-title {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.col-title::before {
    content: '';
    position: relative;
    top: 1.5rem;
    display: block;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    color: #fff;
    font-size: clamp(.7rem, 1vw, 1rem);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
}

.footer-col ul li a:hover {
    color: rgb(0, 255, 242);
}