<div class="home-footer-container">
    <div class="footer-content">
        <div class="footer-logo">
            <span id="footer-title">
                <span>Dr. Mercy's</span>
                <span>Companions</span>
            </span>
        </div>
        <div class="footer-links-row">
            <div class="'footer-col">
            </div>
            <div class="footer-col">
                <span class="col-title">
                    Company
                </span>
                <ul class="col-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <span class="col-title">
                    Get Help
                </span>
                <ul class="col-list">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <span class="col-title">
                    Online Shop
                </span>
                <ul class="col-list">
                    <li><a href="#">Enterainment</a></li>
                    <li><a href="#">Workforce</a></li>
                    <li><a href="#">Subtainable Living</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>