.home-footer-container {
    font-family: Orbitron;
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: #fff;
    top: 15rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    gap: 5rem;
    padding: 3rem;
    justify-content: center;
}

#footer-title {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    line-height: 3rem;
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.9),
        0 0 30px rgba(202, 228, 225, 0.3),
        0 0 12px rgba(30, 132, 242, 0.4),
        0 0 21px rgba(30, 132, 242, 0.8),
        0 0 34px rgba(30, 132, 242, 0.7),
        0 0 54px rgba(30, 132, 242, 0.9);
}

.footer-links-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 1rem;
}

ul.col-list {
    list-style: none;

    li {
        margin-bottom: 5px;
    }
}

.col-title {
    font-size: 1.5rem;
}

.col-title::before {
    content: '';
    position: absolute;
    top: 4.5rem;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
}

.footer-col ul li a:hover {
    color: rgb(0, 255, 242);
}