<div class="home-reviews-container">
    <div class="home-reviews-content">
        <div class="review-box">
            <div class="review-details-border" *ngFor="let review of reviewData; let i = index"
                [ngClass]="{'hide-set': reviewSet.includes(i)}">
                <div id="review-details">
                    <span class="product-name text-glow">{{review.product}}</span>
                    <hr class="review-divider">
                    <span class="rating">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                            <i class="fa-solid fa-star"></i>
                        </ng-container>
                    </span>
                    <span class="review">"{{review.review}}"</span>
                    <span class="author">-{{review.author}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id='review-btn' (click)="toggleReviews()">
        More Reviews
    </div>
</div>