@import "~@fortawesome/fontawesome-free/css/all.css";

.home-reviews-container {
    font-family: Orbitron;
    height: 65%;
    width: 95%;
    position: relative;
    margin: 0 auto;
    top: 125px;
}

.home-reviews-content {
    height: 80%;
    position: relative;
}

.review-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hide-set {
    display: none;
}

.review-details-border {
    position: relative;
    flex: 1;
    height: 100%;
    border-top: 5px solid black;
    border-right: 5px solid black;
    background:
        linear-gradient(-135deg, rgb(0, 0, 0) 0 calc(30px + 5px), transparent 0) top right / 50% 50%,
        rgba(255, 0, 0, 0);
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 0px, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0px, #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 0px, #fff 0) top left,
        linear-gradient(-135deg, transparent 0 20px, #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
    clip-path: polygon(14% 1%, 155% -1%, 80% 90%, 0% 100%);
    // filter: drop-shadow(2px 0px 5px #000);
    transform: scaleX(-1);
    animation: slideUp 1.5s;

}

#review-btn {
    right: 3%;
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    bottom: 125px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.299);
    }
}

#review-details {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    opacity: 0;
    transform: scaleX(-1);
    display: flex;
    flex-direction: column;
    top: 45px;
    right: 35px;
    position: relative;
    animation: fadeText 1s ease 1s forwards;

    .product-name {
        font-size: 2rem;
    }

    .rating {
        position: relative;
    }

    .author {
        width: 30%;
        align-self: end;
        position: relative;
        right: 45px;
    }

    .review {
        position: relative;
        top: 3px;
        width: 80%;
    }
}

hr.review-divider {
    right: 90px;
    position: relative;
    width: 60%;
    border-top: 10px solid black;
    background:
        linear-gradient(-135deg, rgb(0, 0, 0) 0 calc(30px + 5px), transparent 0) top right / 50% 50%,
        rgba(255, 0, 0, 0);
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(-45deg, transparent 10px 0px, #fff 0px) bottom left,
        linear-gradient(135deg, transparent 0px 90px, #fff 0px) top left,
        linear-gradient(-45deg, transparent 170px 0px, #fff 0px) bottom right,
        linear-gradient(-135deg, transparent 0px 0px, #fff 0px) top right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    clip-path: polygon(0% 0%, 104% 0%, 80% 90%, 0% 100%);
}

@keyframes slideUp {
    0% {
        clip-path: polygon(14% 1%, 155% -1%, 80% 90%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 0%, 100% -1%, 80% 90%, 0% 100%);
    }

    100% {
        clip-path: polygon(14% 1%, 155% -1%, 80% 90%, 0% 100%);
    }
}

@keyframes fadeText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}