<div class="nav-container">
    <div class="nav-border-box-wrap" [ngClass]=" { 'nav-open': isNavOpen, 'nav-close': !isNavOpen }">
        <div class="nav-border-box" [ngClass]=" { 'btn-open': isNavOpen} " id="nav-btn" (click)="toggleNav()">Menu</div>
    </div>
    <div class="nav-options" [ngClass]=" { 'ops-open': isNavOpen} ">
        <div class="nav-ops-containter">
            <a class="nav-item" routerLink="/home" (click)="toggleNav()">Home</a>
            <a class="nav-item" routerLink="/product-store" (click)="toggleNav()">Store</a>
            <a class="nav-item" routerLink="/home" (click)="toggleNav()">Quiz</a>
        </div>
    </div>
</div>