.nav-container {
    display: flex;
    position: fixed;
    width: 22%;
    right: 10px;
    justify-content: flex-end;
    // margin-top: 10px;
    top: 10px;
    right: 15px;
    z-index: 500;
}

.nav-border-box-wrap {
    right: 0%;
    position: relative;
    transition: right 0.5s ease;
}

.nav-border-box {
    font-size: 1.5rem;
    font-family: Orbitron;
    padding: 10px 18px;
    border: 3px solid #000000;
    border-radius: 3px;
    clip-path: polygon(20% 7%, 105% 0%, 80% 93%, -1% 99%);
    cursor: pointer;
}


.nav-border-box:hover {
    animation: clipPathAnimation .3s ease forwards;
}

.btn-open {
    //here
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.nav-open {
    right: 100%;
    animation: motionblurForward .5s ease;
}

.nav-close {
    animation: motionblurBack .5s ease;
}

.nav-options {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1.5s, transform 0.5s;
    font-family: Orbitron;
    position: fixed;
    width: 25%;
    z-index: -5;
}

.ops-open {
    opacity: 1;
    transform: translateX(0%);
}

.nav-ops-containter {
    text-align: center;
    margin-top: 13px;
    font-size: 1rem;
}

.nav-ops-containter>a {
    color: black;
    padding: 7px;
    margin: 15px;
    position: relative;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        margin: 0;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.5s ease-in-out;
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

.nav-ops-containter a::before,
.nav-ops-containter a::after {
    position: absolute;
    height: 100%;
    top: 0px;
    content: '';
    background: purple;
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
}

.nav-ops-containter a:before {
    left: 0px;
}

.nav-ops-containter a:after {
    right: 0px;
}

.nav-ops-containter a:hover:before,
.nav-ops-containter a:hover:after {
    width: 100%;
}

.nav-line {
    display: block;
    position: relative;
    width: 95%;
    margin: 0 auto;
    top: 45px;
    border: 1px solid #000000;
    clip-path: polygon(20% 7%, 105% 0%, 80% 93%, -1% 99%);
}

@keyframes motionblurForward {
    0% {
        filter: drop-shadow(5px 0px 1px #000);
        box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    50% {
        box-shadow: 45px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }

    95% {
        filter: drop-shadow(0px 0px 0px #000);
    }

    100% {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
}

@keyframes motionblurBack {
    0% {
        filter: drop-shadow(-5px 0px -1px #000);
        box-shadow: -10px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    50% {
        box-shadow: -45px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }

    95% {
        filter: drop-shadow(0px 0px 0px #000);
    }

    100% {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}

@keyframes clipPathAnimation {
    0% {
        clip-path: polygon(20% 7%, 105% 0%, 80% 93%, -1% 99%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

// Dr Mercy's Companions