<div class="product-box">
    <div id="corner-wrapper"></div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn" (click)="openModal('item-sel')">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img [src]="'https://placehold.co/200'" />
        </div>
        <div class="product-details">
            <span class="product-category">Category</span>
            <span class="product-name">Name Here</span>
            <span class="product-price">$100</span>
        </div>
        <div class="product-btns">
            <span id="details-btn">View Details</span>
            <span (click)="onAddToCart()">Add To Cart</span>
        </div>
    </div>
</div>
<app-details-modal [itemDetails]="selectedItem" (isModalClosed)='modalClose($event)'
    *ngIf="selectedItem"></app-details-modal>