<div class="product-box">
    <div id="corner-wrapper"></div>
    <div class="product-card" *ngFor="let product of productArray; let i = index" [class]="product.category">
        <div class="product-image">
            <img src="data:image/png;base64,{{product.image}}" alt="product image" />
        </div>
        <div class="product-details-box">
            <div class="product-details">
                <p class="product-name">Model: <span class="name-styled">{{product.name}}</span></p>
                <p class="product-category">{{getCatergoryName(product.category)}}</p>
                <p class="product-price">{{product.price | currency}}</p>
            </div>
            <div class="product-btns">
                <span id="details-btn" (click)="openModal('item-sel')">View Details</span>
                <span (click)="onAddToCart(product)">Add To Cart</span>
            </div>
        </div>
    </div>
</div>
<app-details-modal [itemDetails]="selectedItem" (isModalClosed)='modalClose($event)'
    *ngIf="selectedItem"></app-details-modal>