<div class="cart">
    <div class="cart-items">
        <div class="item-box" *ngFor="let item of cart.items">
            <img class='item-img' src={{item.image}} />
            <span class="item-name">{{item.name}}</span>
            <div class="item-quantity">
                <span class="reduce-item" (click)="onReduceQuantity(item)">
                    <i class="fa-solid fa-minus"></i>
                </span>
                <span>{{item.quantity}}</span>
                <span class='add-item' (click)="onAddQuantity(item)">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </div>
            <div class="item-total">
                <span class="total">{{item.price | currency}}</span>
            </div>
            <div class="item-details">
                <span class="item-details-btn">View Details</span>
                <span class="item-delete-btn" (click)="onRemoveItem(item)"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
    </div>
</div>