<div class="cart">
    <div class="cart-header">
        <span>Shopping Cart</span>
    </div>
    <div id="cart-wrapper"></div>
    <div class="cart-content" *ngIf="cart.items.length > 0; else cartIsEmpty">
        <div class="cart-items">
            <div class="item-box" *ngFor="let item of cart.items">
                <div class="cart-item-img">
                    <img src={{item.image}} />
                </div>
                <div class="cart-item-details">
                    <div class="item-info">
                        <div class="info-header">
                            <span class="item-name">{{item.name}}</span>
                            <span class="item-category">{{item.category}}</span>
                        </div>
                        <div class="item-total">
                            <span class="total">{{item.price * item.quantity | currency}}</span>
                            <div class="item-quantity">
                                <span class="reduce-item" (click)="onReduceQuantity(item)">
                                    <i class="fa-solid fa-minus"></i>
                                </span>
                                <span>{{item.quantity}}</span>
                                <span class='add-item' (click)="onAddQuantity(item)">
                                    <i class="fa-solid fa-plus"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item-details">
                        <span class="item-details-btn" (click)="openModal('item-sel')">View Details</span>
                        <span class="item-delete-btn" (click)="onRemoveItem(item)"><i
                                class="fa-solid fa-trash-can"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-box">
            <div class="cart-quantity">
                <span>Items({{getTotalItems()}})</span>
                <span>{{getTotal() | currency}}</span>
            </div>
            <div class="cart-shipping">
                <span>Shipping</span>
                <span>Free</span>
            </div>
            <hr />
            <div class="cart-subtotal">
                <span>Subotal</span>
                <span>{{getTotal() | currency}}</span>
            </div>
            <div class="cart-checkout">
                <span class="checkout-btn">Proceed to Checkout</span>
            </div>
        </div>
    </div>
    <ng-template #cartIsEmpty>
        <div class="empty-cart">
            <span class="empty-cart-header">Cart is currently empty, please visit the store to get started.</span>
            <span class="empty-cart-btn" routerLink="/product-store">View Store</span>
        </div>
    </ng-template>
</div>
<app-details-modal [itemDetails]="selectedItem" [isInCart]="true" (isModalClosed)='modalClose($event)'
    *ngIf="selectedItem"></app-details-modal>
<!-- <div class="item-box" *ngFor="let item of cart.items">
    <img class='item-img' src={{item.image}} />
    <span class="item-name">{{item.name}}</span>
    <div class="item-quantity">
        <span class="reduce-item" (click)="onReduceQuantity(item)">
            <i class="fa-solid fa-minus"></i>
        </span>
        <span>{{item.quantity}}</span>
        <span class='add-item' (click)="onAddQuantity(item)">
            <i class="fa-solid fa-plus"></i>
        </span>
    </div>
    <div class="item-total">
        <span class="total">{{item.price | currency}}</span>
    </div>
    <div class="item-details">
        <span class="item-details-btn">View Details</span>
        <span class="item-delete-btn" (click)="onRemoveItem(item)"><i class="fa-solid fa-trash-can"></i></span>
    </div>
</div> -->