<mat-card>
    <button mat-raised-button color="warn" class="float-right">
        Clear All
    </button>
    <mat-card>
        <h5>Product Here</h5>
        <img [src]="'https://placehold.co/50'" />
        <div>
            <button mat-icon-button color="primary">
                <mat-icon>remove</mat-icon>
            </button>
            <span>1</span>
            <button mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div>
            <button mat-mini-fab color="warn">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card>
</mat-card>