<div class="loading-card">
    <div class="loading-message">
        <p class="message-title">Welcome to Dr. Mercy's Companions</p>
        <p class="message-subtitle">Angular/Firebase/SCSS</p>
        <p class="message-body">Welcome to Dr. Mercy's Companions, a mock e-commerce site, designed to showcase Angular,
            Firebase, and SCSS. Feel free to explore and interact with the site, but please note that it's for
            demonstration purposes only. Thank you for visiting!</p>
        <p class="message-subtitle">-Crystal Fecteau</p>
    </div>
    <div class="loader" *ngIf="isLoading">
        <div class="square" id="sq1"></div>
        <div class="square" id="sq2"></div>
        <div class="square" id="sq3"></div>
        <div class="square" id="sq4"></div>
        <div class="square" id="sq5"></div>
        <div class="square" id="sq6"></div>
        <div class="square" id="sq7"></div>
        <div class="square" id="sq8"></div>
        <div class="square" id="sq9"></div>
    </div>
    <div class="loading-button" *ngIf="!isLoading && !isError" (click)="enterSite()">
        <span routerLink="home" id="loading-btn" data-back="Welcome" data-front="Enter"></span>
    </div>
    <div class='error-msg' *ngIf="isError">Error loading data. Please try again later.</div>
</div>