@import "~@fortawesome/fontawesome-free/css/all.css";

.store-info-container {
    font-family: Orbitron;
    width: 100%;
    height: 75%;
    position: relative;
    margin: 0 auto;
    top: 5rem;
    color: #fff;
}

#container-top-right-corner {
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    width: 95%;
    height: 100%;
    display: inline-block;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid white;
    background:
        linear-gradient(-135deg, rgb(255, 255, 255) 0 calc(30px + 5px), transparent 0) top right / 50% 50%,
        rgba(255, 255, 255, 0);
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 0px, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0px, #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 0px, #fff 0) top left,
        linear-gradient(-135deg, transparent 0 20px, #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
    clip-path: polygon(14% 1%, 155% -1%, 100% 100%, 0% 100%);
    filter: drop-shadow(0px 0px 10px #ffffff);
}


.store-info-content {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    background: linear-gradient(220deg, rgba(0, 255, 243, 0) 0%, rgba(8, 135, 172, 0.6727941176470589) 27%, rgba(27, 152, 195, 0.3170518207282913) 54%, rgba(0, 0, 0, 0) 67%);
}

#store-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: clamp(1rem, 5.5vw, 7rem);
}

#store-info-text {
    top: -45px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: clamp(0.2rem, 0.5vw, 1rem);
    letter-spacing: 2px;
    padding-right: clamp(0rem, 0.7rem, 1rem);

    span {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        line-height: 2rem;
    }

    #info-title {
        font-size: clamp(2rem, 2.5vw, 3rem);
        font-weight: 500;
        position: relative;
        margin-bottom: 3rem;
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.9),
            0 0 30px rgba(202, 228, 225, 0.3),
            0 0 12px rgba(30, 132, 242, 0.4),
            0 0 21px rgba(30, 132, 242, 0.8),
            0 0 34px rgba(30, 132, 242, 0.7),
            0 0 54px rgba(30, 132, 242, 0.9);
    }
}

#store-info-img {
    img {
        position: absolute;
        width: clamp(20rem, 30vw, 35rem);
        bottom: 0;
        left: clamp(1rem, 20vw, 25rem);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    }
}

.store-info-btns {
    display: flex;
    flex-direction: row;
    gap: clamp(3rem, 5vw, 5rem);
}

#store-learn-button {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 15px;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
}

#store-info-button {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 15px;
    border: 2px solid white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    clip-path: polygon(15% 5%, 115% 0%, 90% 95%, -9% 99%);
    border-radius: 5px;
}

#store-info-button::before,
#store-learn-button::before {
    content: '';
    background-color: hsla(174, 67%, 57%, 0.203);
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

#store-info-button:hover::before,
#store-learn-button:hover::before {
    bottom: 0;
    height: 100%;

}

#store-info-button:hover,
#store-learn-button:hover {
    animation: clipPathAnimation .5s ease forwards;
}

@keyframes clipPathAnimation {
    0% {
        clip-path: polygon(15% 3%, 115% 0%, 90% 97%, -5% 99%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        border: 2px solid rgb(0, 255, 255);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    }
}