<div class="store-info-container" id="store-info-container">
    <div id="container-top-right-corner"></div>
    <div class="store-info-content">
        <span id="store-info-img">
            <img src="data:image/png;base64,{{cookImg}}" alt="Store Info">
        </span>
        <span id="store-info">
            <span id="store-info-text">
                <span id="info-title">Upgrade Your Living:</span>
                <span>Welcome Robotic Assistance</span>
                <span>In Your Home</span>
            </span>
            <a id="store-info-button" routerLink="/product-store">Explore Store</a>
        </span>
    </div>
</div>