<div class="banner">
    <div class="banner-content">
        <div class="banner-text">
            <div id="banner-title">
                <p>Dr. Mercy's</p>
                <p>Companions</p>
            </div>
            <div id="banner-subtitle">
                <p id="subtitle-text">Empower your life and unleash the future.</p>
                <span id="banner-btn" (click)="scrollToElement()">
                    <ng-container>
                        <i class="fa-solid fa-chevron-down"></i>
                    </ng-container>
                </span>
            </div>
        </div>
        <div class="banner-image">
            <img id="banner-image" src="data:image/png;base64,{{bannerImg}}" alt="Doctor">
        </div>
    </div>
    <app-home-banner-background></app-home-banner-background>
</div>