<div class="banner">
    <div class="banner-content">
        <div class="banner-text">
            <span id="banner-title">
                <span>Dr. Mercy's</span>
                <span>Companions</span>
            </span>
            <span id="banner-subtitle">
                <span id="subtitle-text">Empower your life and unleash the future.</span>
                <span id="banner-btn" (click)="scrollToElement()">
                    <ng-container>
                        <i class="fa-solid fa-chevron-down"></i>
                    </ng-container>
                </span>
            </span>
        </div>
        <div class="banner-image">
            <img id="banner-image" src="data:image/png;base64,{{bannerImg}}" alt="Doctor">
        </div>
    </div>
    <app-home-banner-background></app-home-banner-background>
</div>